In [14]:
#average bagging all of the submissions
import pandas as pd
import numpy as np

In [15]:
files = []
filenames = ['submit_1.csv', 'submit_2.csv', 'submit_3.csv', 'submit_6.csv']

In [16]:
for filename in filenames:
    files.append(pd.read_csv(filename))

In [17]:
files[0]

       Criminal     PERID
0             0  66583679
1             0  35494679
2             0  79424679
3             0  11744679
4             0  31554679
5             0  83164679
6             0  58474679
7             0  40695779
8             0  39315779
9             0  58415779
10            0  23535779
11            0  67275779
12            0  93485779
13            0  29546779
14            0  97556779
15            0  37797779
16            0  36607779
17            0  61727779
18            0  20827779
19            0  52437779
20            0  87267779
21            0  33287779
22            0  30398779
23            0  98598779
24            1  41818779
25            0  69638779
26            0  25748779
27            0  75368779
28            0  99968779
29            1  91578779
...         ...       ...
11400         1  43750730
11401         0  35360730
11402         0  51380730
11403         0  50480730
11404         0  71901730
11405         0  96021730
11406         0  71331730
11407         0  66541730
11408         0  29861730
11409         0  95071730
11410         0  61281730
11411         0  57202730
11412         0  45402730
11413         0  45022730
11414         0  99432730
11415         0  26732730
11416         0  85832730
11417         0  45782730
11418         0  26493730
11419         0  54693730
11420         0  97103730
11421         0  99713730
11422         0  74543730
11423         0  57863730
11424         0  97294730
11425         0  31894730
11426         0  98524730
11427         0  80134730
11428         0  65323398
11429         0  90906563

[11430 rows x 2 columns]

In [18]:
final_sub = pd.DataFrame()
final_sub['PERID'] = files[0]['PERID']
final_sub['Criminal'] = files[0]['Criminal']

In [19]:
for i in range(len(files)):
    final_sub['Criminal'] += files[i]['Criminal']

In [20]:
new_final_sub = final_sub.copy()

In [21]:
new_final_sub['Criminal'] = new_final_sub['Criminal'].apply(lambda x : 1 if x >= 1 else 0)

In [22]:
new_final_sub.to_csv("final_sub_2.csv", index = False)